# Postgres
POSTGRES_PASSWORD=password
PG_USER=user
PG_HOST=host
PG_DATABASE=database
PG_PASSWORD=pg_pass
PG_PORT=pg_port

# Express Server
EXPRESS_PORT=express_port

# Redis
REDIS_HOST=redis_host
REDIS_PORT=redis_port

# Vite / UI
VITE_API_BASE_URL=api_base_url